<div class="container ">
    <nav>
        <a href="#">Home</a>
        <a href="#">Contact</a>
        <a href="#">More</a>
    </nav>
    <div>
        <h1 class="text-center text-info bg-light mt-3">OUR APP GOAL</h1>
        <p>Get inspired by our quotes. Feel free to add yours!</p>
    </div>
    <div class="row">
        <h3>Qoute-Form</h3>
        <!-- <app-form></app-form> -->
    </div>
    <div>
        <h3>See Quotes</h3>
        <div class="card">
            <div class="card-body">
            <div *ngFor="let quote of quote">{{quote.quote}}</div> 

            </div>
        </div>
        
    </div>
</div>
<div>
    <!-- <app-footer></app-footer> -->
</div>

